
table {
    border-collapse: collapse;
    overflow: hidden;
    /*border: 2px solid rgb(140 140 140);*/
    border-radius: 7px;
    letter-spacing: 1px;
}


th, td {
    padding: 10px 12px;
    text-align: left;
}

.column1 {
    padding-right: 40px;
}

thead, tfoot {
    background-color: rgb(245 245 220);
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(210 210 210);

