.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row {
    padding-bottom: 15px;
    padding-right: 25px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

label {
    padding: 0px 12px 6px 0;
    display: inline-block;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    outline: none;
    transition: border 0.2s ease-in-out;
}

.input-field:focus {
    border: 1px solid #a0c4ff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
    transition: box-shadow 0.3s ease-in-out; 
}

input[type="submit"] {
    float: right;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    }
}