table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 4px;
    letter-spacing: 1px;
    overflow-x:auto;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead, tfoot {
    background-color: #E8F1F2;
}

tbody > tr:nth-of-type(even) {
    background-color: #eee;
}