table {
    margin-top: 30px;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 4px;
    letter-spacing: 1px;
    overflow-x:auto;
    width: 100%;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 12px 15px;
}

td {
    padding: 4px 15px;
}

thead, tfoot {
    background-color: #E8F1F2;
}

th a {
    text-decoration: none;
    color: black;
}

.tb-id {
    width: 55px;
}

.tb-name {
    width: 500px;
}

.tb-price {
    width: 150px;
    padding-left: 30px;
}

.tb-availability {
    width: 90;
    padding-left: 10px;
}

.tb-actions {
    width: 200px;
    padding-right: 0px;
}

.sort-dir-icon {
    font-size: small;
}

.description-row td {
    padding-left: 15px;
    background-color: #f2f2f2;
    cursor: default;
}

#description {
    font-size: small;
    color: DimGray;
}

tbody > tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#record-management-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 6px;
}

#record-management-container a {
    text-decoration: none;
}

.button.edit {
    background-color: #215e94;
}

.button.delete {
    background-color: #d43733;
}

button.edit, button.delete {
    padding: 8px;
}

#pagination-container {
    margin-top: 30px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

#pagination-container p {
    margin-top: 0;
    color: #0B253E;
}

#pagination-container a {
    color: black;
    font-weight: bolder;
    border-radius: 4px;
    padding: 7px;
    text-decoration: none;
}

.disabled {
    pointer-events: none;
    border: 0px !important;
    color: gray !important;
    border-color: gray !important;
    text-decoration: none;
}

#items-selector-container {
    position: relative;
}

#items-selector {
    position: absolute;
    right: 10px;
    top: -25px;
}

#items-selector select {
    padding: 5px 8px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}
