html {
    font-family: "Gill Sans", sans-serif;
}

body {
    background-color: #f9f9f9;
    padding-top: 30px; /* Space to acommodate the navigation bar */
}

.page-title {
    color: #0B253E;
}

.nav-bar {
    background-color: #0B253E;
    overflow: hidden;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.nav-bar a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
}

.nav-bar a.active {
  background-color: #CEE5F2;
  color: black;
}

input[type="submit"], input[type="radio"] {
    cursor: pointer;
}

.button {
    text-decoration: none;
    cursor: pointer;
    background-color: #0B253E;
    color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    border: none;
   
}

.button:hover, .nav-bar a:hover {
    background-color: #ddd !important;
    color: black;
}

#screen-centralized-div {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#screen-centralized-div h1 {
    margin: 0;
}

#screen-centralized-div h2 {
    margin-top: 5px;
    margin-bottom: 30px;
}

.notification-container {
    bottom: 20px;
    right: 20px;
    display:block;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 4px;
    color: #f9f9f9;
    background-color: #00B07B;
    padding: 15px;
    word-wrap: break-word;
    width: fit-content;
    max-width: 250px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    visibility: hidden;
}

.notification.show {
    opacity: 1;
    visibility: visible;
}

.notification.fade-out {
    opacity: 0;
    visibility: visible;
}