<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Produtos</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/productListing.css}">
    <script th:src="@{/functions.js}" defer></script>
</head>

<body>
<div class="nav-bar">
    <a class="active" th:href="@{/products}">Listagem de produtos</a>
    <a th:href="@{/products/register}">Cadastrar produto</a>
</div>

<h1 class="page-title">Listagem de produtos</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Disponibilidade</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="product : ${products}">
        <tr onclick="toggleRow(this.nextElementSibling)" style="cursor: pointer;">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${'R$ ' + #numbers.formatDecimal(product.price, 1, 'POINT', 2, 'COMMA')}"></td>
            <td th:text="${product.isAvailable} ? 'DISPONÍVEL' : 'INDISPONÍVEL'"></td>
            <td>
                <div id="record-management-container">
                    <a th:href="@{/products/edit/} + ${product.id}">
                        <button class="button edit" onclick="event.stopPropagation();">
                            Editar
                        </button>
                    </a>
                    <a th:href="@{/products/delete/} + ${product.id}">
                        <button class="button delete"
                                onclick="event.stopPropagation(); 
                                    return confirm('O item será deletado permanentemente. Deseja continuar?');">
                            Deletar
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="description-row" style="display: none;">
            <td colspan="5">
                <p id="description">Descrição do produto</p>
                <p th:text="${product.description}"></p>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<div id="pagination-container">
    <div>
        <a th:classappend="${currPage <= 1 ? 'disabled' : ''}"
           th:href="@{'/products?page=' + ${currPage - 1}}">Previous</a>
    </div>
    <div>
        <p th:text="${currPage + ' de ' + totalPages}"></p>
    </div>
    <div>
        <a th:classappend="${currPage >= totalPages ? 'disabled' : ''}"
           th:href="@{'/products?page=' + ${currPage + 1}}">Next</a>
    </div>
</div>

<div th:if="${notification}">
    <p class="notification" th:text="${notification}"></p>
</div>
</body>
</html>