<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/productRegistration.css}">
</head>
<body>
<div class="nav-bar">
    <a th:href="@{/products/catalogue}">Listagem de produtos</a>
    <a class="active" th:href="@{/products/register}">Cadastrar produto</a>
</div>
<h1 class="page-title">Cadastrar Produto</h1>
<form method="post" class="container" th:action="@{/products/register}" th:object="${productDto}">
    <div class="row">
        <div class="col-25">
            <label for="prodName">Nome</label>
        </div>
        <div class="col-75">
            <span th:if="${#fields.hasErrors('name')}">
                <div style="color: red; font-size: small; padding-bottom: 5px;"
                     th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>
            </span>
            <textarea id="prodName" maxlength="100"
                      placeholder="Nome do produto. Até 100 caracteres."
                      th:field="*{name}"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="prodDescription">Descrição</label>
        </div>
        <div class="col-75">
            <span th:if="${#fields.hasErrors('description')}">
                <div style="color: red; font-size: small; padding-bottom: 5px;"
                     th:each="err : ${#fields.errors('description')}" th:text="${err}"></div>
            </span>
            <textarea id="prodDescription" maxlength="1000"
                      placeholder="Descrição do produto. Até 1000 caracteres."
                      th:field="*{description}"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="prodPrice">Preço</label>
        </div>
        <div class="col-75">
            <span th:if="${#fields.hasErrors('price')}">
                <div style="color: red; font-size: small; padding-bottom: 5px;"
                     th:each="err : ${#fields.errors('price')}" th:text="${err}"></div>
            </span>
            <input id="prodPrice" type="number" min="0" step="0.01" placeholder="0"
                   th:field="*{price}" th:value="0.00">
        </div>
    </div>

    <div class="row">
        <div class="col-25" style="display: flex;">
            <label>Disponível para venda</label>
        </div>
        <div class="col-75">
            <label for="prodAvailability-true">
                <input id="prodAvailability-true" type="radio" th:field="*{isAvailable}" value="true"/>
                Sim
            </label>
            <label for="prodAvailability-false">
                <input id="prodAvailability-false" type="radio" th:field="*{isAvailable}" value="false"/>
                Não
            </label>
        </div>
    </div>

    <div class="row">
        <div>
            <input class="button" type="submit" value="Salvar">
        </div>
    </div>
</form>
</body>
</html>