<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Edição de Produto</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/productForm.css}">
    
    <script th:src="@{/functions.js}"></script>
</head>

<body>
<div class="nav-bar">
    <a th:href="@{/products}">Listagem de produtos</a>
    <a th:href="@{/products/register}">Cadastrar produto</a>
    <a class="active" th:href="@{'/products/edit/' + ${editingProduct.id}}">Edição de produto</a>
</div>
<h1 class="page-title">Edição de Produto</h1>
<form method="post" class="container" th:action="@{/products/edit/} + ${editingProduct.id}" th:object="${editingProduct}">
    <input type="hidden" th:field="${editingProduct.id}">
    <div class="row">
        <div class="col-25">
            <label for="prodName">Nome</label>
        </div>
        <div class="col-75">
            <span th:if="${#fields.hasErrors('name')}">
                <div style="color: red; font-size: small; padding-bottom: 5px;"
                     th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>
            </span>
            <textarea id="prodName" maxlength="100"
                      th:field="*{name}"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="prodDescription">Descrição</label>
        </div>
        <div class="col-75">
            <span th:if="${#fields.hasErrors('description')}">
                <div style="color: red; font-size: small; padding-bottom: 5px;"
                     th:each="err : ${#fields.errors('description')}" th:text="${err}"></div>
            </span>
            <textarea id="prodDescription" maxlength="1000"
                      th:field="*{description}"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="prodPrice">Preço</label>
        </div>
        <div class="col-75">
            <span th:if="${#fields.hasErrors('price')}">
                <div style="color: red; font-size: small; padding-bottom: 5px;"
                     th:each="err : ${#fields.errors('price')}" th:text="${err}"></div>
            </span>
            <input id="prodPrice" type="number" min="0" step="0.01"
                   th:field="*{price}">
        </div>
    </div>

    <div class="row">
        <div class="col-25" style="display: flex;">
            <label>Disponível para venda</label>
        </div>
        <div class="col-75">
            <label for="prodAvailability-true">
                <input id="prodAvailability-true" type="radio" th:field="*{isAvailable}" value="true"/>
                Sim
            </label>
            <label for="prodAvailability-false">
                <input id="prodAvailability-false" type="radio" th:field="*{isAvailable}" value="false"/>
                Não
            </label>
        </div>
    </div>

    <div class="row">
        <div>
            <input class="button" type="submit" value="Salvar">
        </div>
    </div>
</form>

<div th:if="${notification}">
    <p class="notification" th:text="${notification}"></p>
</div>
</body>
</html>